<% title "Goods" %>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th>Price</th>
  </tr>
  <% for good in @goods %>
    <tr>
      <td><%= good.name %></td>
      <td><%= good.count %></td>
      <td><%= good.price %></td>
      <td><%= link_to "Show", good %></td>
      <td><%= link_to "Edit", edit_good_path(good) %></td>
      <td><%= link_to "Destroy", good, :confirm => 'Are you sure?', :method => :delete %></td>

      <td><%= button_to "Купить", buy_good_path(good.id), :remote => true %></td>
  

    </tr>
  <% end %>
</table>

<p><%= link_to "New Good", new_good_path %></p>
