<% title "Good" %>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @good.price %>
</p>

<p>
  <%= link_to "Edit", edit_admin_good_path(@good) %> |
  <%= link_to "Destroy", admin_good_path(@good), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_goods_path %>
</p>
